{% extends 'base.html' %}
{% block content %}

{% load static %}



<script>
    var stylelayer = {
        defecto: {
            color: "red",
            opacity: 1,
            fillcolor: "red",
            fillOpacity: 0.1,
            weight: 0.5
        },
        reset: {
            color: "red",
            opacity: 0.4,
            weight: 1
        },
        highlight: {
            weight: 5,
            color: '#0D8BE7',
            dashArray: '',
            fillOpacity: 0.7
        },
        selected: {
            color: "blue",
            opacity: 0.3,
            weight: 0.5
        }
    }




    var url ="{% url 'ld' %}"
    function out_layers(map,options){
       
        $.getJSON(url, function(json){
         

            var geojson = L.geoJson(json, {
                style: stylelayer.defecto,
                onEachFeature: onEachFeature,
                
            }).bindTooltip(function (layer) {
                return layer.feature.properties.namelieudit;}).addTo(map);
            
            
            
            
            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature,
                    //dblclick : selectFeature
                });
            }
            
            
            
            var popupLayer;
            function highlightFeature(e) {
                var layer = e.target;
                layer.setStyle(stylelayer.highlight);
                info.update(layer.feature.properties);
            }
            
            
            function resetHighlight(e) {
                var layer = e.target;
                var feature = e.target.feature;
                if (checkExistsLayers(feature)) {
                    setStyleLayer(layer, stylelayer.highlight)
                } else {
                    setStyleLayer(layer, stylelayer.defecto)
                }
            }
            
            var featuresSelected = []
            function zoomToFeature(e) {
                var layer = e.target;
                var feature = e.target.feature;
            
                if (checkExistsLayers(feature)) {
                    removerlayers(feature, setStyleLayer, layer, stylelayer.defecto)
                    removeBounds(layer)
            
                } else {
                    addLayers(feature, setStyleLayer, layer, stylelayer.highlight)
                    addBounds(layer)
                }
                map.fitBounds(arrayBounds);
                detailsselected.update(featuresSelected)
            }
            
            function selectTypeaheadFeature(layer) {
                var layer = layer;
                var feature = layer.feature;
                if (checkExistsLayers(feature)) {
                    removerlayers(feature, setStyleLayer, layer, stylelayer.defecto)
                    removeBounds(layer)
                } else {
                    addLayers(feature, setStyleLayer, layer, stylelayer.highlight)
                    addBounds(layer)
                }
                map.fitBounds(arrayBounds.length != 0 ? arrayBounds : initbounds)
                detailsselected.update(featuresSelected)
            }
            // intervient dans le zome et le sytle de lacouche
            var corner1 = L.latLng(53.62, 2.931),
                corner2 = L.latLng(50.763, 7.182)
            var initbounds = L.latLngBounds(corner1, corner2)
            var arrayBounds = [];
            
            function addBounds(layer) {
                arrayBounds.push(layer.getBounds())
            }
            
            function removeBounds(layer) {
                arrayBounds = arrayBounds.filter(bounds => bounds != layer.getBounds())
            }
            
            function setStyleLayer(layer, styleSelected) {
                layer.setStyle(styleSelected)
            }
            
            // intervient dans la deselection sur le panel
            function removerlayers(feature, callback) {
                featuresSelected = featuresSelected.filter(obj => obj.surface != feature.properties.surface)
                callback(arguments[2], arguments[3])
            }
            
            // intervient dans la selection des polygones sur la carte
            function addLayers(feature, callback) {
                featuresSelected.push({
                    surface: feature.properties.surface,
                    feature: feature
                })
                callback(arguments[2], arguments[3])
            }
            
            
            // permet au curseur de selectionner un polygone(sinon il selectionne tt)
            function checkExistsLayers(feature) {
                var result = false
                for (var i = 0; i < featuresSelected.length; i++) {
                    if (featuresSelected[i].surface == feature.properties.surface) {
                        result = true;
                        break;
                    }
                };
                return result
            }
            
            /*show info layers*/
            var info = L.control({
                position: 'bottomleft'
            });
            
            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };
            
            info.update = function (properties) {
                this._div.innerHTML =
            
                    '<h4>Properties</h4>' + (properties ?
                        `
                        namelieudit: ${properties.namelieudit}<br>
                        lat: ${properties.lat}<br>
                        lon:${properties.lon}<br>
                        surface:${properties.surface}
                            
                                ` : 'lieux-dits');;
            };
            
            info.addTo(map);
            
            
            var detailsselected = L.control();
            detailsselected.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info scroler');
                this.update();
                return this._div;
            };
            
            
            var detailshow = function () {
                var result = ''
                var total = 0
                for (var i = 0; i < featuresSelected.length; i++) {
                    var properties = featuresSelected[i].feature.properties
                    result +=
                        `
                        namelieudit: ${properties.namelieudit}<br>
                        lat: ${properties.lat}<br>
                        lon:${properties.lon}<br>
                        surface:${properties.surface}
                    <a href="#" onclick=dellayer(${properties.surface})>decocher</a> 
                   
                    <hr>`;
                    total += properties.surface
            
            
                }
                return {
                    result: result,
                    total: total
                };
            }
            
            detailsselected.update = function (arrayselected) {
                var details = detailshow()
                this._div.innerHTML = '<b>TOTAL: ' + details.total + '</b><br>' + details.result; 
                $('#suma', window.parent.document).val(details.total);
            };
            
            detailsselected.addTo(map);
            
            function dellayer(surface) {
                geojson.eachLayer(function (layer) {
                    if (layer.feature.properties.surface == surface) {
                        selectTypeaheadFeature(layer)
                    }
                })
            }
            
            
            
            })
            

    }
     
     
      
    
    </script>



{% endblock content %}